body {
  background-color: #eaf6f6;
}
hr {
  border-style: dotted;
  width: 50%;
  border-color: grey;
  border-width: 5px;
  border-top-style: none;
}
img {
  height: 200px;
  width: 200px;
}
h1 {
  color: aqua;
}
h3 {
  color: aqua;
}
